#body_calc{
    background: rgb(0,61,93);
    background: -moz-radial-gradient(circle, rgba(0,61,93,1) 68%, rgba(0,61,77,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,61,93,1) 68%, rgba(0,61,77,1) 100%);
    background: radial-gradient(circle, rgba(0,61,93,1) 68%, rgba(0,61,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d5d",endColorstr="#003d4d",GradientType=1);
}
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
html,body {
    padding: 0;
    margin: 0;
}
#left-paddle {
    background-color: green;
    left: 10px;
}
#right-paddle {
    background-color: blue;
    right: 10px;
}
.paddle {
    top: 0;
    height: 200px;
    width: 10px;
    position: absolute;
}
.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    left: 50px;
    top: 50px;
}
.score {
    position: absolute;
    top: 0;
}
#left-score {
    left: 10%;
}
#right-score {
    right: 10%;
}