body{
    background: rgb(0,61,93);
    background: -moz-radial-gradient(circle, rgba(0,61,93,1) 68%, rgba(0,61,77,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,61,93,1) 68%, rgba(0,61,77,1) 100%);
    background: radial-gradient(circle, rgba(0,61,93,1) 68%, rgba(0,61,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003d5d",endColorstr="#003d4d",GradientType=1);
}